.box {
    height: 45%;

}

.box img {
    height: 45%;
}
 
.footer-bar ul{

    padding: 2px 300px;
    display:flex ;
    list-style: none;
    align-content: center;
} 

.footer-bar ul li{
    margin: 2px 24px ;
}
